extends layout

block content
  div.row.mb-3
    div.col
      h1 Обработка CSV файла
      if (config)
        p Найден файл конфигурации.
        p
          a.btn.btn-primary(href="/csv/config/edit") Редактировать
      else
        form.form(action="/csv/config/create" method="POST")
          button.btn.btn-primary(type="sybmit") Создать      
        
  div.row
    div.col
      h4 Информация о файле
      div.table-responsive
        table.table.table-bordered.table-hover.table-sm.table-dark.table-striped
          thead
            tr
              th Заголовок
              th #
          tbody
            each header in info.headers
              tr
                td=header.name
                if (header.header != "unused")
                  td(class="bg-info")=header.header
                else
                  td=header.header
              
  div.row
    div.col      
      div.table-responsive
        table.table.table-bordered.table-hover.table-sm.table-dark
          tr
            each item, index in data[0]
              th= index
            
          each item in data
            tr
              each sub in item
                td(style='min-width:150px;S')=sub
